<ul>
	<% for location in @locations %>
	<li><span class='searchphrase'><%= link_to h(location.name), :controller=>"locations", :action=>"show", :id=>location %></span> <%= ', ' + location.fipscode + ', ' + location.country_code %></li>
  	<% end %>
</ul>